In [11]:
num = eval(input("enter a number"))
digit = str(num)
answer = int(digit[0]) + int(digit[1])
print(answer)

enter a number123
3

In [13]:
num = eval(input("enter a number"))
digit = str(num) 
answer = 0 
for i in range(len(digit)):
    answer = answer + int(digit[i])
answer

enter a number123456789

45

In [24]:
answer = sum([int(c) for c in str(num)])
answer

45

In [26]:
num = eval(input("Enter a Float Number"))
ipart = int(num) 
dpart = num - int(num)
dpart

Enter a Float Number12.345

0.34500000000000064

In [21]:
sum([c**2 for c in range(4)])

14

In [30]:
for i in range(2,int(math.sqrt(num)):

SyntaxError: unexpected EOF while parsing (<ipython-input-30-2e6b07aebad3>, line 1)

In [29]:
import math
math.sqrt(21)

4.58257569495584

In [36]:
x = (6==6)
x

True

In [38]:
x,y,z = [1,2,3]

In [44]:
words=["dopio","dopizero","CRCcresta","dudlzufs","zero"]
for w in words:
    if len(w)>=5 and w[4]=="z":
        print(w)

dopizero
dudlzufs

In [51]:
for i in range(10):
    print (i)
    if i==5:

SyntaxError: unexpected EOF while parsing (<ipython-input-51-fa63bdf2e2f0>, line 3)

In [53]:
a = 23.60 * .25 
print('The tip is {:.2f}'.format(a))

The tip is 5.90

In [75]:
bill = 23.6075 
tip = 23.6075*.25 
print('Tip: ${:.5f}, Total: ${:.5f}'.format(tip, bill+tip))

Tip: $5.90188, Total: $29.50938

In [68]:
print('{:6d}'.format(2)) 
print('{:2d}'.format(25)) 
print('{:3d}'.format(138))

     2
25
138

In [69]:
print(2)
print(25)
print(138)

2
25
138

In [70]:
print('{:^5d}'.format(2)) 
print('{:^5d}'.format(222)) 
print('{:^5d}'.format(13834))

  2
 222
13834

In [72]:
print('{:,d}'.format(10000000))

10,000,000

In [76]:
print('{:^10s}'.format('Hi')) 
print('{:^10s}'.format('there!'))

    Hi
  there!

In [78]:
print('{:>6s}'.format('Hi')) 
print('{:>6s}'.format('There'))

    Hi
 There

In [81]:
for i in range(1,11): 
    for j in range(1,11): 
        print('{:3d}'.format(i*j), end=' ') 
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [82]:
for x in range(-50,51): 
    for y in range(-50,51): 
        if 2*x+3*y==4 and x-y==7: 
            print(x,y)

5 -2

In [83]:
for x in range(1,100): 
    for y in range(1,100): 
        for z in range(1,100): 
            if x**2+y**2==z**2: 
                print(x,y,z)

3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 5 13
12 9 15
12 16 20
12 35 37
13 84 85
14 48 50
15 8 17
15 20 25
15 36 39
16 12 20
16 30 34
16 63 65
18 24 30
18 80 82
20 15 25
20 21 29
20 48 52
21 20 29
21 28 35
21 72 75
24 7 25
24 10 26
24 18 30
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 21 35
28 45 53
30 16 34
30 40 50
30 72 78
32 24 40
32 60 68
33 44 55
33 56 65
35 12 37
35 84 91
36 15 39
36 27 45
36 48 60
36 77 85
39 52 65
39 80 89
40 9 41
40 30 50
40 42 58
40 75 85
42 40 58
42 56 70
44 33 55
45 24 51
45 28 53
45 60 75
48 14 50
48 20 52
48 36 60
48 55 73
48 64 80
51 68 85
52 39 65
54 72 90
55 48 73
56 33 65
56 42 70
57 76 95
60 11 61
60 25 65
60 32 68
60 45 75
60 63 87
63 16 65
63 60 87
64 48 80
65 72 97
68 51 85
70 24 74
72 21 75
72 30 78
72 54 90
72 65 97
75 40 85
76 57 95
77 36 85
80 18 82
80 39 89
84 13 85
84 35 91

In [86]:
for x in range(1,100): 
    for y in range(x,100): 
        for z in range(y,100): 
            if x**2+y**2==z**2: 
                for i in range(2,x): 
                    if x%i==0 and y%i==0 and z%i==0: 
                        break 
                else: 
                    print((x,y,z), end=' ')

(3, 4, 5) (5, 12, 13) (7, 24, 25) (8, 15, 17) (9, 40, 41) (11, 60, 61) (12, 35, 37) (13, 84, 85) (16, 63, 65) (20, 21, 29) (28, 45, 53) (33, 56, 65) (36, 77, 85) (39, 80, 89) (48, 55, 73) (65, 72, 97)

In [87]:
#Dictionaries

In [97]:
days = {'January':31, 'February':28, 'March':31, 'April':30, 'May':31, 'June':30, 'July':31, 'August':31, 'September':30, 'October':31, 'November':30, 'December':31}

In [103]:
days['January']

31

In [100]:
dayS = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [105]:
d = {'A':100, 'B':200}

In [106]:
d

{'A': 100, 'B': 200}

In [108]:
d['A']=400
d

{'A': 400, 'B': 200}

In [123]:
d['C']=500 
L=list(d.keys())
L[0]

'A'

In [124]:
del d['A']

In [125]:
d

{'B': 200, 'C': 500}

In [126]:
d = {'dog' : 'has a tail and goes woof!', 'cat' : 'says meow', 'mouse' : 'chased by cats'}

In [127]:
d["dog"]

'has a tail and goes woof!'

In [130]:
word = input('Enter a word: ') 
print('The definition is:', d[word])

Enter a word: dog
The definition is: has a tail and goes woof!

In [136]:
numerals = {'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}

In [137]:
points = {'A':1, 'B':3, 'C':3, 'D':2, 'E':1, 'F':4, 'G':2, 'H':4, 'I':1, 'J':8, 'K':5, 'L':1, 'M':3, 'N':1, 
          'O':1, 'P':3, 'Q':10, 'R':1, 'S':1, 'T':1, 'U':1, 'V':4, 'W':4, 'X':8, 'Y':4, 'Z':10}

In [139]:
word = input('Enter a word: ') 
score = sum([points[c] for c in word])

Enter a word: DOG

In [147]:
sum([i for i in range(5)])

10

In [148]:
L=[]
for i in range(5):
    L.append(i)
sum(L)

10

In [149]:
deck = [{'value':i, 'suit':c} for c in ['spades', 'clubs', 'hearts', 'diamonds'] for i in range(2,15)]

In [153]:
type(deck)

list

In [ ]:
#We will start on 11.3